<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456173517303-fnc1cmjjm1qta3tbbk5k94nb031063fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456173517303-fnc1cmjjm1qta3tbbk5k94nb031063fa</string>
	<key>API_KEY</key>
	<string>AIzaSyC15rjVxctOON0p2tzVZYWWGRZR8tNcDfM</string>
	<key>GCM_SENDER_ID</key>
	<string>456173517303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joe.Aman</string>
	<key>PROJECT_ID</key>
	<string>aman-348311</string>
	<key>STORAGE_BUCKET</key>
	<string>aman-348311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456173517303:ios:54e9db79f15d72309956f2</string>
</dict>
</plist>